#export NODE_ENV='production'
export NODE_ENV='development'

export BIND_ADDRESS='127.0.0.1'
export PORT='3000'

export APP_BASE_URL='https://example.com'
export APP_TIMEZONE='America/Denver'

export GOOGLE_CLIENT_ID='000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com'
export GOOGLE_CLIENT_SECRET='XXXXXXXXXXXXXXXXXXXXXXXX'

export POSTMARK_SERVER_TOKEN='xxxxxxxx-xxxx-4xxx-8xxx-xxxxxxxxxx57'

export TWILIO_ACCOUNT_SID=ACffffffffffffffffffffffffffffffff
export TWILIO_AUTH_TOKEN=ffffffffffffffffffffffffffffffff
export TWILIO_MESSAGING_SERVICE_SID=MGffffffffffffffffffffffffffffffff
